*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}


main{
    margin: 1em;
    padding: 1em;
    background-color: green;
    height: 100vh;
    width: 100vw;
}

#div1{
    background-color: red;
    /* border: solid yellow; */
    border-width:10px;
    border-style: groove;
    border-top-color: blue;
    border-left-color: red;
    border-bottom-color: yellow;
    border-right-color: purple;
    height: 20vh;
    width: 50vw;
    /* -webkit-box-shadow: 0 0 10px #777777 */
    
    /* padding */
}